{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="https://kit.fontawesome.com/b42ebc9abb.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="header">
    <h1 class="site-title"><a href="">TechStore</a></h1>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            {#  show if a user is not logged in  #}
            <li><a href="">About us</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Login</a></li>
            {# end show if a user is not logged in #}
            {# show if the user is logged in#}
            <li><a href=""><i class="fa-solid fa-user"></i></a></li>
            <li><a id="cart" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            {# end show if a user is logged in#}

        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    <p>© 2002 - 2023 TechStore - All Rights Reserved.</p>
</footer>

</body>
</html>