.delete-section {
    margin: auto;
}

.delete-button {
    background-color: #dc1a1a;
    border: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete-section div {
    box-shadow: 0 0 9px 2px rgb(105 127 69);
    background-color: #2b2b2b;
    padding: 34px;
    border-radius: 2px;
    color: #a1c755;
    text-align: center;
}

.delete-section-heading {
    margin: -8px 10px 30px 10px;
    font-size: 21px;
}

.delete-section div form {
    margin-top: 20px;
}

