.order-overview {
    margin: 38px auto;
    background-color: #2b2b2b;
    color: #697f45;
    padding: 36px;
    width: 80%;
    box-shadow: 0 0 9px 2px rgb(105 127 69);
}

.order-summary-details {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #697f45 solid;
    border-top: 1px #697f45 solid;
}

.order-summary-items-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.order-summary-heading {
    color: #a1c755;
    font-size: 20px;
    padding-bottom: 20px;
}

.order-summary-items-table th, .order-summary-items-table td {
    border: 1px solid #a1c755;
    padding: 10px;
    text-align: left;
    border-collapse: collapse;
    vertical-align: middle;
}

.table-price {
    color: orange;
}

.checkout-button {
    background-color: #4CAF50;
    border: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

