.order-overview {
    margin: auto;
    background-color: #2b2b2b;
    color: #697f45;
    padding: 36px;
    width: 80%;
    box-shadow: 0 0 9px 2px rgb(105 127 69);
}

.order-summary-details {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #697f45 solid;
    border-top: 1px #697f45 solid;
}

.order-summary-items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-summary-heading {
    color: #a1c755;
    font-size: 20px;
    padding-bottom: 20px;
}
