{% extends 'base.html' %}
{% block content %}

    <div class="order-overview">
        <div class="order-summary">
            <h2 class="order-summary-heading">Your order:</h2>
            <div class="order-summary-details">
                <p class="table-price">Total: {{ order.get_order_total }}</p>
                <p>Items: {{ order.get_order_items }}</p>
                <button class="checkout-button">
                    Checkout
                </button>
            </div>
            <div class="order-summary-items">
                <table class="order-summary-items-table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.product_picture }}</td>
                            <td>{{ item.product.name }}</td>
                            <td class="table-price">{{ item.product.price|floatformat:2 }}</td>
                            <td>{{ item.quantity }}</td>
                            <td class="table-price">{{ item.get_total|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>




{% endblock %}