{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main">
        <section class="main-content">
            <article class="main-content-article-banner"><img src="{% static 'images/2+placeholder.png' %}"
                                                              alt="child-reading"></article>
            <h3 class="main-content-article-heading"><span class="product-name">Product Name</span><span
                    class="product-price">$20</span></h3>
            <article class="main-content-article-link">
                <button class="main-content-article-link-button">Add to Cart</button>
                <button class="main-content-article-link-button">View</button>
            </article>
        </section>
        <section class="main-content">
            <article class="main-content-article-banner"><img src="{% static 'images/2+placeholder.png' %}"
                                                              alt="child-reading"></article>
            <h3 class="main-content-article-heading"><span class="product-name">Product Name</span><span
                    class="product-price">$20</span></h3>
            <article class="main-content-article-link">
                <button class="main-content-article-link-button">Add to Cart</button>
                <button class="main-content-article-link-button">View</button>
            </article>
        </section>
        <section class="main-content">
            <article class="main-content-article-banner"><img src="{% static 'images/2+placeholder.png' %}"
                                                              alt="child-reading"></article>
            <h3 class="main-content-article-heading"><span class="product-name">Product Name</span><span
                    class="product-price">$20</span></h3>
            <article class="main-content-article-link">
                <button class="main-content-article-link-button">Add to Cart</button>
                <button class="main-content-article-link-button">View</button>
            </article>
        </section>
        <section class="main-content">
            <article class="main-content-article-banner"><img src="{% static 'images/2+placeholder.png' %}"
                                                              alt="child-reading"></article>
            <h3 class="main-content-article-heading"><span class="product-name">Product Name</span><span
                    class="product-price">$20</span></h3>
            <article class="main-content-article-link">
                <button class="main-content-article-link-button">Add to Cart</button>
                <button class="main-content-article-link-button">View</button>
            </article>
        </section>
        <section class="main-content">
            <article class="main-content-article-banner"><img src="{% static 'images/2+placeholder.png' %}"
                                                              alt="child-reading"></article>
            <h3 class="main-content-article-heading"><span class="product-name">Product Name</span><span
                    class="product-price">$20</span></h3>
            <article class="main-content-article-link">
                <button class="main-content-article-link-button">Add to Cart</button>
                <button class="main-content-article-link-button">View</button>
            </article>
        </section>
        <section class="main-content">
            <article class="main-content-article-banner"><img src="{% static 'images/2+placeholder.png' %}"
                                                              alt="child-reading"></article>
            <h3 class="main-content-article-heading"><span class="product-name">Product Name</span><span
                    class="product-price">$20</span></h3>
            <article class="main-content-article-link">
                <button class="main-content-article-link-button">Add to Cart</button>
                <button class="main-content-article-link-button">View</button>
            </article>
        </section>
    </main>
{% endblock %}
