{% extends 'base.html' %}
{% block content %}
        <div class="login-register">
            <form class="login-register-box-form" method="post"  enctype="multipart/form-data">
                <h2 class="login-register-box-form-title">Edit</h2>
                {% csrf_token %}
                {{ form.username.errors }}
                {{ form.username}}

                {{ form.email.error }}
                {{ form.email }}

                {{ form.first_name.error }}
                {{ form.first_name }}

                {{ form.last_name.error }}
                {{ form.last_name }}


                    {{ form.profile_picture.error }}
                    {{ form.profile_picture }}


                <button class="login-register-box-form-button">Submit</button>
            </form>
        </div>




{% endblock %}