{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div class="login-register">
        <div class="login-register-box">
                <form class="login-register-box-form" method="post">
                    <h2 class="login-register-box-form-title">Signup</h2>
                    {% csrf_token %}
                    {{ form.username.errors }}
                    {{ form.username|placeholder:'Username'}}

                    {{ form.email.errors }}
                    {{ form.email|placeholder:'Email' }}

                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                    {{ form.password1|placeholder:'Password' }}
                    {{ form.password2|placeholder:'Confirm Password' }}
                    <button class="login-register-box-form-button" type="submit">Register</button>
                </form>
            </div>
    </div>
{% endblock %}